<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen del Pedido</title>
</head>
<body>
    <h1>Resumen del Pedido</h1>
    <h2>Cliente:</h2>
    <p>Nombre: {{ nombre }}</p>
    <p>Dirección: {{ direccion }}</p>
    <p>Teléfono: {{ telefono }}</p>

    <h2>Detalle de las Bebidas:</h2>
    <ul>
    {% for bebida in bebidas %}
        <li>Bebida: {{ bebida.tipo_bebida }} | Leche: {{ bebida.tipo_leche }} | Azúcar: {{ bebida.azucar }}</li>
    {% endfor %}
    </ul>

    <form method="POST" action="/resumen">
        <button type="submit" name="confirmar_pedido">Confirmar Pedido</button>
        <button type="submit" name="reiniciar">Volver al Inicio</button>
    </form>
</body>
</html>
